.inner {
  display: flex;
  justify-content: space-between;
}

.block {
  width: 100%;
}

.divider {
  border-bottom: 2px solid #000;
}

.headline {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin: 34px 0px;
  padding: 0px;
}

.heading {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  max-height: 650px;
  margin: 0px;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  margin: 34px 0px;
  margin-left: 24px;
}