.nav {
  background-color: #FFFCB2;
}

.inner {
  height: 200px;
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  margin: 0px 24px;
}

.heading {
  margin: 0px;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.strike {
  text-decoration: line-through;
}

.hamburger {
  margin-left: auto;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 0px;
  bottom: -357px;
  border: solid 5px #000;
  background-color: #fff;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 60px 150px 60px 40px;
}

.element {
  margin: 20px 0px;
}

.link {
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  text-decoration: none;
}