.nav {
  background-color: #FFFCB2;
}

.inner {
  height: 200px;
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  margin: 0px 24px;
}

.heading {
  margin: 0px;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.strike {
  text-decoration: line-through;
}